[mysqld]
# Certificates
ssl-ca=/etc/mysql/certs/ca.pem
ssl-cert=/etc/mysql/certs/server-cert.pem
ssl-key=/etc/mysql/certs/server-key.pem
require_secure_transport=ON

# Basic server settings
socket                  = /tmp/mysql.sock
basedir                 = /opt/mysql/
datadir                 = /var/lib/mysql/
tmpdir                  = /tmp


# Connection limits & timeouts
max_connections         = 150
max_connect_errors      = 100
connect_timeout         = 10
wait_timeout            = 28800
interactive_timeout     = 28800
back_log                = 10000

# Memory & InnoDB tuning
# Set to 50-75% of your total server RAM (e.g., 6G for an 8GB RAM server)
innodb_buffer_pool_size = 134217728
innodb_file_per_table   = ON
innodb_flush_log_at_trx_commit = 1
innodb_flush_method     = O_DIRECT

# Logging
log_error               = stderr
slow_query_log          = OFF
long_query_time         = 10.000000

